.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 150px; */
  width: 100%;
  /* margin: auto */
  min-height: 89.5vh;
  background-image: url("../../images/pattern.svg");
  background-position: center;
  background-size: cover;
}

.tabs-container {
  margin-bottom: 20px;
}

.login-form-container {
  background: rgba(54, 95, 170, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  margin: auto;
  width: 30%;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.tab-button {
  border: none;
  outline: none;
  background-color: #999;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.tab-button.active {
  background-color: #555;
}

.form-container {
  padding: 1.5rem;
  width: 100%;
  animation: slideIn 0.5s ease-in-out;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  gap: 1rem;
}

.form-container form button {
  width: 50%;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Inter";
}

.form-group {
  color: #fff;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.6rem;
  width: 80%;
}
.form-group input {
  width: 100%;
}

.form-group select {
  width: 103%;
}

.label {
  margin-bottom: 5px;
}

.form-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #333;
}
