.Faicons {
  margin: inherit;
  font-size: 2rem;
  margin-bottom: 10px;
  width: 300px;
}

.features {
  width: 80%;
  border-bottom: 5px solid;
  border-radius: 10px;
  text-align-last: center;
  padding: 20px;
}

.feature-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.features-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}

.feature {
  flex-basis: 300px;
  margin: 20px;
}

.feature h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .features-section {
    padding: 40px;
  }

  .feature {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-section {
    padding: 30px;
  }

  .feature {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .feature h2 {
    font-size: 1.5rem;
  }
}

/* Testimonial Section Styles */

.testimonial-section {
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  margin: 0 10px;
  max-width: 400px;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.testimonial-card p {
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-card p:last-child {
  font-weight: bold;
}
